@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-main: #111827;
  --color-secondary: #6b7280;
  --background-main-color: #f3f4f6;
}

.dark {
  --color-main: #f9fafb;
  --color-secondary: #9ca3af;
  --background-main-color: #030303;
}
